[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = silent

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = silent
